html {
  display:block;
}

body {
  padding: 50px 50px;
  margin: 10px 10px;
  color: #555;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table {
  text-align: left;
  padding: 15px;
  border: none;
}

code, samp {
  color: #1f1f1f;
  font-family: courier, monospace;
  background-color: #eee;
  border-radius: 3px;
  padding: 0 3px;
}

samp {
  background-color: #bbe;
}

th {
  background-color: #4CAF50;
  color: white;
  border: none;
}
th, td,tr {
  border-style: none none solid none;
  padding: 5px 15px;
  vertical-align: top;
}
